<a href="https://colab.research.google.com/github/chamanoy05/Lessons-at-Mohirdev/blob/main/pandas_library_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
from pandas import Series #series ma'lumotlar tuzilmasi

numpy libray faqatgina sonlar bilan ishlasa, pandas turli xil ko'rinishdagi ma'lumotlardan iborat jadvallar bilan ishlay oladi

eng muhim ma'lumotlar tuzilmasi:Series va Data Frame

Series bir o'lchamli massivga o'xshash ma'lumotlar tuzilmasi bo'lib qiymatlar va ularga mos keluvchi indekslardan iborat

In [ ]:
obj = Series([4, 5, 6, -6.5])
type(obj)

pandas.core.series.Series

In [ ]:
print(obj)

0    4.0
1    5.0
2    6.0
3   -6.5
dtype: float64

In [ ]:
obj.values #qiymatlar

array([ 4. ,  5. ,  6. , -6.5])

In [ ]:
obj.index #indekslar

NameError: name 'obj' is not defined

In [ ]:
obj[2]

6.0

In [ ]:
obj2= Series([1, 9, 7, 8], index= ['a', 'b', 'c', 'd'])

In [ ]:
obj2

a    1
b    9
c    7
d    8
dtype: int64

In [ ]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
obj2[['a', 'b']]

a    1
b    9
dtype: int64

In [ ]:
#filtrlash
obj2[obj2>6]

b    9
c    7
d    8
dtype: int64

Lug'atdan series yaratish

In [ ]:
people_age = {'Malika':18, 'Bahodir':21, 'Bonu':20, 'Sherzodbek':17}
people1= Series(people_age)#lug'atdan Series yaratish
print(people1)

Malika        18
Bahodir       21
Bonu          20
Sherzodbek    17
dtype: int64

In [ ]:
type(people1)

pandas.core.series.Series

In [ ]:
people1= Series(people_age, index= ['Sherzodbek', 'Malika', 'Bahodir', 'Bonu'])
people1

Sherzodbek    17
Malika        18
Bahodir       21
Bonu          20
dtype: int64

In [ ]:
people1.dtype# qiymatlarni ma'lumot turi
people1.unique# qiymatlarni takrorlanmasligini tekshirish
people1.shape
people1.size # series hajmini tekshirish

dtype('int64')