<a href="https://colab.research.google.com/github/chamanoy05/Lessons-at-Mohirdev/blob/main/sorting_and_ranking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
obj= pd.Series(range(5), index= ('e', 'b', 'a', 'c', 'd'))

In [ ]:
obj

e    0
b    1
a    2
c    3
d    4
dtype: int64

In [ ]:
obj.sort_index() #indekslari bo'yicha tartiblash

a    2
b    1
c    3
d    4
e    0
dtype: int64

In [ ]:
obj.sort_values() #values bo'yicha tartiblash

e    0
b    1
a    2
c    3
d    4
dtype: int64

In [ ]:
obj.sort_values(ascending= True) #o'sish tartibida joylashtirish, agar ascending= False bo'lsa kamayish tartibida

e    0
b    1
a    2
c    3
d    4
dtype: int64